@charset "utf-8";
/* CSS Document */


* { box-sizing:border-box; -webkit-box-sizing:border-box;}

body{ margin:0; padding:0;
text-rendering: optimizeLegibility;
text-rendering: geometricPrecision;
font-smooth: always;

font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
-webkit-font-smoothing: antialiased;
-webkit-font-smoothing: subpixel-antialiased; background-color:#000 !important; }

@font-face {
    font-family: 'opensans';
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot');
    src: url('../fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'wickedgrit';
    src: url('../fonts/wickedgrit/WickedGrit.eot');
    src: url('../fonts/wickedgrit/WickedGrit.eot?#iefix') format('embedded-opentype'),
         url('../fonts/wickedgrit/WickedGrit.woff') format('woff'),
         url('../fonts/wickedgrit/WickedGrit.ttf') format('truetype'),
         url('../fonts/wickedgrit/WickedGrit.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/Raleway.eot');
    src: url('../fonts/raleway/Raleway.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway/Raleway.woff') format('woff'),
         url('../fonts/raleway/Raleway.ttf') format('truetype'),
         url('../fonts/raleway/Raleway.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'raleway_semibold';
    src: url('../fonts/raleway_semibold/raleway_semibold.eot');
    src: url('../fonts/raleway_semibold/raleway_semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway_semibold/raleway_semibold.woff') format('woff'),
         url('../fonts/raleway_semibold/raleway_semibold.ttf') format('truetype'),
         url('../fonts/rraleway_semibold/raleway_semibold.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura';
    src: url('../fonts/futura/futura.eot');
    src: url('../fonts/futura/futura.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura/futura.woff') format('woff'),
         url('../fonts/futura/futura.ttf') format('truetype'),
         url('../fonts/futura/futura.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'futura_med';
    src: url('../fonts/futura_med/futura_med.eot');
    src: url('../fonts/futura_med/futura_med.eot?#iefix') format('embedded-opentype'),
         url('../fonts/futura_med/futura_med.woff') format('woff'),
         url('../fonts/futura_med/futura_med.ttf') format('truetype'),
         url('../fonts/futura_med/futura_med.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
::-webkit-scrollbar{ display: none !important; }
#a0-onestep .a0-header {
 background:#141414 !important;
}

#a0-onestep .a0-header  .a0-bg-gradient {
 position:inherit !important;
}

#a0-onestep .a0-body-content { background:#1a1a1a !important; }
#a0-lock.a0-theme-default .a0-popup .a0-centrix .a0-panel { background:#1a1a1a !important; }

#a0-lock.a0-theme-default .a0-switch span { color:#fff !important;}

.a0-primary { background:#ed1c24 !important; bottom:0px !important;}

#a0-lock.a0-theme-default .a0-panel .a0-close { background:#434343 !important;
    border: 6px solid #434343 !important; }

#a0-lock.a0-theme-default .a0-panel .a0-email input, #a0-lock.a0-theme-default .a0-panel .a0-password input, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input, #a0-lock.a0-theme-default .a0-panel .a0-username input {

 background-color: #1d1d1d !important;
 color: #ddd !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-email .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-password .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-repeatPassword .a0-input-box, #a0-lock.a0-theme-default .a0-panel .a0-username .a0-input-box {
 background:#343434 !important;
     border: 1px solid #343434 !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-all, #a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    color:#ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-separator {
color:#ddd !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-top-header h1 {
    color:#ddd !important;
}

.a0-footer {
    display:none !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-mode-container {
    background: #1a1a1a !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-sso-notice-container {
    background: #1a1a1a !important;
    color: #ddd !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-mode {
    background: #1a1a1a !important;
}

.a0-close svg polygon { fill:#fff !important; }


#a0-lock .a0-overlay.a0-active{
    overflow-y: scroll !important;
    display: block !important;
    overflow: hidden;
}
.a0-lock-open{
    overflow: hidden !important;
}
#a0-lock .a0-overlay.a0-active .a0-centrix{
    display: block !important;
}

#a0-lock.a0-theme-default .a0-panel .a0-action button:after
{
position: inherit !important;
margin-left: 50% !important;
}
#a0-lock.a0-theme-default .a0-panel button.a0-primary{
    position: inherit !important;
}
#a0-lock.a0-theme-default .a0-zocial.a0-aol {
    background-color: #0861A8;
    color: #fff;
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image img {
  display:none !important;
}
#a0-lock.a0-theme-default .a0-panel .a0-icon-container .a0-image {
  background-image: url(https://s3.amazonaws.com/peafowl/aeom/logo.png) !important;
    background-size: 125px 125px !important;
    background-repeat: no-repeat !important;
  background-position: center !important;
    height: 125px !important;
}
#a0-lock.a0-theme-default .a0-popup .a0-overlay
{
  background-color: #141414 !important;

}


h1, h2, h3, h4, h5, h6, ul{ font-family:'WickedGrit', sans-serif; font-weight:normal;}

p{ font-family:'opensans', sans-serif; font-weight:normal;}
.nogap{ padding:0 !important; margin:0 !important;}
.brd{ border:1px solid #f00;}
.container_aeom{ width:80%; margin:0 auto; padding:0;}

.whitetxt{ color:#fff !important;}

.gal_thumb{ width:100% !important; display:inline-block;}

.bot_marg{ margin-bottom:30px !important;}
.top-marg{ margin-top:60px;}

.Tenmargin{ margin:0 10px 50px 10px;}

.txtCenter{ text-align:center;}

.blackBg{ background-color:#000;}

.fullHeight{ min-height:100%;}

::selection{ background-color:#e81d29;}

.mynav{ border-radius:0; height:auto !important; background-color:#000 !important; min-height:70px; position: fixed;
    width: 100%; z-index:1000; top:0 !important;}

#head_navigation{ font-size: 15px;
    margin:0;
    display: none;
    min-width: 280px;
    position: fixed;
    left: 0%;
    top: 70px;
    background-color: #000;}
#head_navigation li{ margin-right:10px; border-bottom:1px solid #101010; float:none !important;}

#head_navigation li:first-child{ border-bottom:1px solid #101010; }
#head_navigation li a{ color:#fff; transition:color ease-out 0.2s; border-left:6px solid rgba(0,0,0,0);}
#head_navigation li a:hover, .active{ color:#e81d29;  border-left:6px solid #f00;}


.headLogo{ display: inline-block;
margin: 15px 0px 0 0px;
width: 200px;}


.blackOverlay{ position: absolute;top:0;left:0; bottom: 0; right: 0; background-color: rgba(0,0,0,0.3) }

.logo_landing{ position: absolute; right:0; bottom:0; text-align:center; width:250px; padding: 20px; display:inline-block; }
.logo_landing img{ display:inline-block; filter: drop-shadow(1px 1px 2px rgba( 0, 0, 0, 1));}

.logo_landing h4{ text-align:center; color:#fff; font-size: 14px; text-shadow: 1px 1px 2px rgba(0,0,0,1);}

.wtchTrialBtn{     
 width: 200px;
    height: 50px;
    border: 2px solid #fff;
    display: inline-block;
    border-radius: 5px;
    line-height: 45px;
    margin-top: 10px;
 color:#fff;
 font-family:'wickedgrit', sans-serif;
 font-weight:600;
 text-decoration:none;
 font-size:12px;
 filter: drop-shadow(1px 1px 2px rgba( 0, 0, 0, 1));
 }



input[type=text] {
        width: 280px;
    font-size: 16px;
    border:0;
    background-repeat: no-repeat;
    padding: 16px 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  border-radius:5px;
  outline:none;
  background-color: #111;
  margin-bottom:10px;
  
}

input[type=text]:focus {
    
  outline:none !important;
  box-shadow:none;
  }

/*input[type=text] {
        width: 180px;
    box-sizing: border-box;
  margin-left: 15px;
    font-size: 16px;
    background-color: #151515;
    background-color:transparent;
    background-image: url(../img/search.png);
    background-position: 96% 50%;
    border:0;
    background-repeat: no-repeat;
    padding: 10px 16px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  border-radius:0;
  outline:none;
  border-bottom: 1px solid #333;
  
}*/



/* When the input field gets focus, change its width to 100% */
/*input[type=text]:focus {
    width: 100%;
  outline:none !important;
  box-shadow:none;
  background-position: 96% 50%;
  border-bottom: 1px solid #e81d29;
    
}*/


.menu_top{ float:right;}

.menu_top li { float:left;}

.content{ width:100%; height:100vh; padding:70px 0 0 0; background-image:url('../img/homeBg.jpg'); background-size:cover; background-color:#000; background-repeat:no-repeat; display: block;}

.content_inner{ width:100%; min-height:100vh; height:auto; padding:70px 0 0 0; background-size:cover; background-color:#000; background-repeat:no-repeat; background-position:50%; overflow-y:hidden;  background-attachment:fixed;}

.overflow_body{overflow-x: hidden; max-width: 100% !important;}



.htauto{ height:auto !important;}

.closebt_cont{ position:absolute; left: 10px;
    top: 18px; display: inline-block;
    cursor: pointer; }

.user{ padding:10px; display:block; position:absolute; right:8px; top:0; color: #fff;
    transition: all ease-out 0.2s;}



.uAvatar{ display:none;}
.joinbtn {
  font-family:'wickedgrit', sans-serif; color:#fff; text-decoration: none; font-size: 16px; display: inline-block;

}
.width45{ width:45px; }
.joinbtn:hover, .joinbtn:visited{ color: #f00; text-decoration: none; }
.userimg{ display:block; border:3px solid #fff;}


.disabled{Cursor:text !important; Text-Decoration: None !important; 
}

.bar1, .bar2, .bar3 {
    width: 28px;
height: 4px;
background-color: #fff;
/* border-radius: 2px; */
margin: 5px 0;
transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-7px, -4px) ;
    transform: rotate(45deg) translate(-7px, -4px) ;
}



.sidepos{left: -85px !important}

.logout{ color:#e81d29 !important; }
.hd{display:none;}

.galImg{ position:relative; display:block; outline:5px solid transparent; outline-offset:-10px;}

.galImg h4{ position:absolute; display:inline-block; color:#fff; bottom:25px; left:30px; letter-spacing:2px; font-size:1.5em;}
.galleryBg{  background-image:url('../img/galleryBg.jpg');}

.overlay{ position:absolute; top:0; left:0; bottom:0; right:0; background-color:rgba(0,0,0,0); transition:all ease-out 0.2s; }
.overlay:hover{ background-color:rgba(0,0,0,0.6);}

.appBg{  background-image:url('../img/appBg.jpg');}
#gallery { margin: 10% auto !important; width: 100% !important; }
.imgTitle {  text-align: center; display: block;}



.aeom_container{ width:90%; margin:0 auto;}

.aeomthumb{ background-color:transparent; border:0 !important;}

.left_ctrl{ position:absolute; left:85%; top:45%; z-index:9;}
.right_ctrl{ position:absolute; right:15%; top:45%; z-index:9;}

.nobg{ background-color:transparent !important;}

.img_desc{ width:300px;}

.apphead{ text-align: center;
    color: #d9242f;
    font-size: 55px;
    margin-top: 54px;}
.appsubhead{ text-align:center; color:#fff; font-family:'raleway_semibold'; margin-top:3%; font-size:32px; margin-bottom:20px;}
.apptxt{ text-align:center; font-family:'opensans', sans-serif; color:#fff; font-size:18px; font-weight:500; margin-top:3%; padding:0 10%;}


.appbtn{ width:100%; height:auto; display:block; text-decoration:none; border:1px solid rgba(255,255,255,0.5); background-color:rgba(0,0,0,0.5); transition:all 0.2s ease-out; margin:auto; margin-bottom:20px;}
.appbtn:hover{ transform:scale(1.05); border:1px solid rgba(255,255,255,0.9);}

.apptitle{ text-align: center;
    position: absolute;
    display: block;
    bottom: 26px;
    width:100%;
    color: #fff;
    font-family: 'raleway_semibold';
    z-index: 9;}
.appbtnimg{ width:100%; position:relative; }
.appbtnContainer{ width:75%; margin:0 auto 30px auto;}
.devicebtnContainer{ width:90%; margin:0 auto 30px auto;}

.appdeschead{ text-align:center; color:#fff; font-family:'futura_med'; margin-top:3%; font-size:40px; margin-bottom:20px; -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;}

.appleLogo{ width:73px; margin-top:50px;}

.tvos_fit{ width:85%; display:inline-block !important;}

.stBg{  background-image:url('../img/stBg.png');}

.appiosCont{ width:90%; margin:30px auto 0 auto;}

.iappstorebtn{ width:233px; height:79px; background-image:url('../img/iAppStoreLogo.png'); display:block; margin:50px auto; background-size:100%; transition:all ease-out 0.2s;}

.iappstorebtn:hover{ transform:scale(1.1);}

.top_marg{ margin-top:30px;}
.padthty{ padding:30px; box-sizing:border-box !important; -webkit-box-sizing:border-box !important;}

.bgGlow{ -webkit-filter: drop-shadow(1px 1px 80px rgba(255,255,255,0.3)); filter: drop-shadow(1px 1px 80px rgba(255,255,255,0.3));}

.btsBg{ background-image:url('../img/btsBg.jpg');}

.btstxt{ color:#fff; font-size:55px; margin-top:10px;}

.btsTitle{  font-family:'futura_med';  font-size:20px; color:#fff; }

.nolftbrd { border-left:none !important; }


.btsthumb{ transition:all ease-out 0.2s; display:block;}
.btsthumb:hover{ transform:scale(1.05);}

.playIcn{ position:absolute; display:block; left:40%; top:25%; width:20%; z-index:999;}


.whiteBg{ background-color:#fff; /*background-image:url('../img/testBg.jpg'); background-size:cover; background-position:50%;*/}
.blackBg{ background-color: #000; }

.myaccBg{ width:100%; min-height: 100vh; height: auto; background-color: rgba(0,0,0,0.8) !important; }
.inputstyle{ width:220px !important; border-radius:0 !important; background-color: #555 !important; color: #fff !important; }

.toppad10{ padding-top:10px !important; }

.botpad10{padding-bottom: 10px !important;}

.topmarg10{ margin-top:10px !important; }
.botmarg10{ margin-bottom:10px !important; }

.nobrd_rad{ border-radius:0 !important; }

.modal-content{ color:#000; }

.modal-content input[type=text]{ background-color: #fff; border:1px solid #999; }

.mysavebtn{ padding: 5px 10px; display: inline-block; background-color: #ff3333; color:#fff; font-size: 16px; float: left; }

.shopImg{ position: relative !important;
    display: block !important;
    transition: all ease-out 0.2s !important;
    padding: 20px !important;
    margin: 10px !important;
    text-align: center;
    color: #111 !important;
    text-decoration: none !important;}
.shopImg:hover{ transform:scale(1.1); box-shadow:11px 11px 20px rgba(0,0,0,0.5); }


.imginline{ display:inline-block;}

.ItemName{ color:#000; text-align:center;}

.item_price{ color:#bb2828; font-size:40px;}

.item_details{ font-family:'raleway_semibold',sans-serif; color:#555555; font-size:24px;}

.item_description{ font-family:'raleway_semibold',sans-serif; color:#555555; font-size:18px;}

.item_list li{ list-style:none; font-family:'raleway_semibold',sans-serif; color:#555555; font-size:18px;}

.size{ width:50px; height:50px; display:block; border:2px solid #555; float:left; line-height:50px; text-align:center; margin:5px; text-decoration:none; font-weight:bold; color:#555; font-size:22px; font-family:'raleway_semibold',sans-serif; transition: all ease-out 0.2s; }

.size:hover{ text-decoration:none; transform:scale(1.1); background-color:#9e0b0f; color:#fff;}

.sztxt{      color: #555;
    font-size: 24px;
    font-family: 'raleway_semibold',sans-serif;
    margin-top: 25px;}

.cartbtn{ width: 212px;
    height: 55px;
    background-color: #9e0b0f;
    display: block;
    border-radius: 10px;
    color: #fff;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    transition: all ease-out 0.2s;
    padding-left: 46px;
    text-transform: uppercase;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: 7% 50%;}

.cartbtn:hover{ transform:scale(1.05);}

.cartbtn:hover{ text-decoration:none; color:#fff;}
#saddr { display: none; }
/*BUY TICKETS*/

.buy_tkt { width:100%; float:left;}
.buy_tkt h2 { font-size:30px; text-align:center; margin:0px;}
.buy_wrp { width:100%; margin:0 auto; background-color:#0f0f0f; padding:5px; padding-top:25px;     display: table;}
.buy_wrp input { width:100%; padding:10px 15px; background-color:#fff; border-radius:5px; border:none; text-align:center; font-size:14px; margin:0 !important; font-size: 14px;
    font-family: 'opensans'}
.buy_wrp input::-webkit-input-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
   
}
.buy_wrp input::-moz-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
}
.buy_wrp input:-ms-input-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
}
.buy_wrp input:-moz-placeholder { 
  color: #000;
  font-weight:bold;
  text-align:center;
     background-image:url(../images/search.jpg);
   background-repeat:no-repeat;
   height:24px;
   background-size: 18px;
   background-position:20% 10%;
}
.buy_wrp h3 { margin-top:15px; margin-bottom:15px; font-size:16px; text-align:center; font-weight:normal; font-family:'futura_med';}
.blackbrd { border: 1px solid #000; }
.slt_blk { width:100%; float:left; font-size: 14px;
    font-family: 'opensans'}
.slt_blk select { padding:6px 10px;  border:solid 1px #222222; -webkit-appearance: none; border-radius:3px;     background-size: 17px; background-color:#191919; float:left; color:#fff; text-transform:uppercase; font-size:14px; background-image:url(../img/slt_bg.jpg); background-position:right top; background-repeat:no-repeat; width:48%; margin:0 1%;}
.slt_blk .slt { width:98%; margin:3% 1%;}
.tab_blk { width:100%; height:200px;     margin-top: 10px; background-color:#191919;     display: inline-table; border-top:solid 2px #222222;}
.loc { width:100%; float: left; padding:7px;}
.loc h3 { background-image:url(../img/loc.png); background-repeat:no-repeat; padding-left:17%; margin:0; font-family:'futura_med'; font-size:18px; text-align:left; background-size:39px; }
.loc p { font-size:14px; margin-top:5px; color:#fff; padding-left:17%;}
.loc p span { float:right;}
.tab { width:100%; float:left; margin-top:5px;}
.tab .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover { background-color: #282828; border:none; color:#fff;}
.tab .nav-tabs>li>a { border:none; color:#aaaaaa; font-size:14px; text-align:center; line-height:16px;}
.nav-tabs>li { margin-bottom:-2px;}
.tab .nav-tabs>li>a span { font-size:12px;}
.tab .nav-tabs>li>a:hover { background-color: #282828; color:#fff;}
.tab .nav-tabs { border:none; margin-left:5px;}
.tab .tab-content { background-color:#282828; padding:5px; color:#fff; width:100%;   display: inline-block;}
.subt { font-size:14px; color:#909090; margin-bottom:5px; margin-top:8px;}
.mv_tit { font-size:14px; font-weight:bold; color:#fff; margin-bottom:10px;}
.mv_tms { width:100%; float:left; margin-bottom:15px; font-size: 14px;
    font-family: 'opensans', sans-serif;}
.mv_tms .shw { padding:5px 7px; text-decoration:none; float:left; background-color:#9c0b0b; border-radius:3px; font-weight:bold; border:solid 1px #b71a1a; color:#000; margin:0 3px;}
.mv_tms .shw:hover { background-color:#960b0b;}


.tktPoster{ display:inline-block !important; width:79%;}

.tktmap{ width:100%; height:602px; display:block;}

.buy_wrp h3{ color:#fff;}

.vol-control{ width:200px !important; margin:0 auto !important; margin-left:10px !important;}

.qw-track-play {
  display: inline-block;
    float: left;
    width: 40px;
    color: #fff !important;
    font-size: 37px;
    font-weight: normal !important;
    margin-right: 10px;
  margin-left:5px;
}

.qw-artists-names{ color:#e81d29 !important; font-weight:normal; font-size:12px;}
.art_title{ color:#f00 !important;}


.thumb_container{ width:100%; overflow-x:scroll !important; }

.thumb_container ul{  padding:0; margin:0; overflow-x:hidden; overflow-y:scroll;  display:table;   }

.thumb_container ul li{ list-style:none; float:left;}
.thumb_container ul li a { width:275px; display:block; margin:2px;}

.statsWrap{ width:100%; background-color:rgba(0,0,0,0.7); position:absolute; top:80%; bottom:0; left:0; right:0; opacity:1; transition: all 0.3s ease-out;}



.statsWrap ul{ display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;}
.statsWrap ul li{ display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;}
  
.statsIcon{  float:left; width:20px;}
.statsTxt{ float:left; color:#fff; text-decoration:none; margin-left:10px; font-family:'futura_med',sans-serif; font-size:18px; line-height:100%;}

.statsIcon, .statsTxt{ display:inline !important; vertical-align:middle;}

.fullwidth{ width:100% !important; }


.popUpstats{ width:100%; background-color:rgba(0,0,0,0.7); position:absolute; height: 50px; bottom: 0;left: 0;} 
.popUpstats ul{ display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;}

.popUpstats ul li{ display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;}


/*---*/

.videoShare{ width:auto; display:block; float:right;}
.video_popup{ position: fixed;
z-index: 9999999;
background-color: #000;

top: 70px;
left:0;

bottom: 0;
right:0;}
#photoPopUpPage{ animation-fill-mode:none !important; }

.tabcell{ display:table-cell;}

.Redfb{ background-image:url('../img/shareRed/fb.png');}
.Redtwitter{ background-image:url('../img/shareRed/twitter.png');}
.RedtGooglePlus{ background-image:url('../img/shareRed/googlep.png');}
.Redinsta{ background-image:url('../img/shareRed/insta.png'); display: none !important;}
.Redpinterest{ background-image:url('../img/shareRed/pinterest.png'); display: none !important;}
.videoShare h4{ float:left; color:#bbb; display:inline-block;  }




.popuphead{ width:100%; height:auto;}

.Videobtn{
  background-image: url(../img/icons.svg);
background-repeat: no-repeat;
border: none !important;
text-decoration: none !important;
cursor: pointer;
display: block;
width: 50px;
height: 50px;
float: left;
  
    }
.Videobtns{ width:50%; float:left; margin-top:5px;}
  
.Videoclose{  background-position: 15px 12px;}
.Videoprev{ background-position: -32px 13px;}
.Videonext{ background-position: -78px 13px;}

.video_popup h3{ color: #fff;
/* display: none; */
float: left;
font-size:18px; }

.VideoShare{ width:auto; float:right; display:table; }

.assetTitle{ position: absolute; bottom:2%; left:0;  color:#fff; text-align: center; font-family:'wickedgrit',sans-serif; font-size:28px; background-color: rgba(0,0,0,0.8); padding: 5px; width:100%;}

.popVideo{ margin:0 auto;}

.IconsWrap{  width:80%; margin: 3% auto 0 auto;}

.Share{ width:auto; display:block; float:right;}

.Share h4{ float:left; color:#bbb; display:inline-block;}

.shareIcons{width: 20px;
height: 20px;
display: block;
float: left;
margin: 18px 7px;
background-position: 50%;
background-size: contain;
background-repeat: no-repeat;
transition: all ease-out 0.2s;}

.shareIcons:hover{ transform:scale(1.2);}

.fb{ background-image:url('../img/share/fb.png');}
.twitter{ background-image:url('../img/share/twitter.png');}
.insta{ background-image:url('../img/share/insta.png');}
.pinterest{ background-image:url('../img/share/pinterest.png');}

.relpos{ position:relative !important; }
.abspos{ position:absolute;}

.btmpos{ bottom:-45px; }

.assetPopup{ width:100%;  border:1px solid #333; top:0; }

.videoContainer{ width:100%; height:100vh;}

.plyr_arrow{ position: absolute; text-align:center; width:100%; margin-top:-26px;}
.plyr_arrow img{ width:25px; display: inline-block; }




/***/

.storyLogo{ position:absolute; bottom:5%; left:2.5%; width:30vw; display: inline;}

.storyBg{ background-image:url('../img/storyBg.jpg'); background-position:72% 46%;  }

.cart{ border-radius: 8px;
    line-height: 100%;
    font-size: 16px;
    padding: 12px 15px 12px 42px;
    position: absolute;
    top: 16%;
    color: #fff;
    font-family: 'wickedgrit', sans-serif;
    right: 10%;
   
  background-color: #9e0b0f;
    display: block;
  background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 16% 50%;}

.apphead{ font-size:32px;}


  
.cart:hover, .cart:visited{ color:#fff; text-decoration:none;}

.nopad{ padding: 0 !important; }

.nomarg{ margin:0 !important; }

.ui-select span{ display: none !important; }



#playerContainer{ position: fixed; bottom: 0; left: 0; z-index: 999 }


#controlContainer .controls{ display: flex;
    align-items: stretch; 
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;}
#controlContainer .controls li{ display: block;
    flex: auto; 
    list-style-type: none;}

#controlContainer .controls{ width:50%; margin:0 auto; }

/******Preloader****/
.bgImg{ position: absolute; z-index: -1; }

.preloader{ width:40px; height:40px; animation:spin 0.5s infinite linear; position:absolute; left:44%; top:50%; transform: translate(-50%, -50%); z-index: 9999999; display: none;}
.preloaderFixed{ width:40px; height:40px; animation:spin 0.5s infinite linear; position:fixed; left:44%; top:50%; transform: translate(-50%, -50%); z-index: 9999999; display: none;}

.preloader1{ width: 40px !important;
    height: 40px;
    animation: spin 0.5s infinite linear;
    /* margin: 100px auto; */
    position: absolute;
    left: 45%;
    top: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
   }

.grad{ width:100%; height:40vh; position: absolute; bottom:0; left:0; 

    background: -webkit-linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5),rgba(0,0,0,1)); 
  

}

#dropzone {
  position: relative;
  border: 3px dashed #de2028;
  background-image:url('../img/drag.jpg');
  color: white;
  font: bold 24px/200px arial;
  height: 300px;
  margin: 30px auto;
  text-align: center;
  width: 300px;
  background-position:50%;
  background-size:100%;
}

#dropzone.hover {
  border: 10px solid #FE5;
  color: #FE5;
}

#dropzone.dropped {
  background: #222;
  border: 10px solid #444;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  width:100%;
}

.videoUpload{ background-image:url('../img/Videodrag.jpg') !important;}


.prodcontent_inner {
width: 100%;
    min-height: 100vh;
    height: auto;
    padding: 90px 0 0 0;
    background-size: cover;
    background-color: #fff;
    background-repeat: no-repeat;
    color: #000;
    overflow: hidden;}

/ Progress Bar /
.panel {
    background-color: rgba(0,0,0,0.5);
    border: 5px solid #ff3333;
    border-radius: 10px;
    width: 30%;
    margin: 0 auto;
    padding: 20px;
}

.uploadbtn, .uploadanotherbtn{
    font-weight: bold;
    cursor:pointer;
	  background-color: #fff;
    /* border: 2px solid #fff; */
    display: inline-block;
    margin: 10px 5px;
    transition: all 0.2s ease-out;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 16px;
    color: #000;
    font-family: 'wickedgrit',sans-serif;
}
.uploadcancelbtn{
    background-color: #FF3333;
    border: 2px solid #fff;
    display: inline-block;
    margin: 2px 5px;
    transition: all 0.2s ease-out;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    cursor:pointer;
}

.uploadanotherbtn:hover
{
   border-radius: 20px;
  border: 2px solid #FF3333;
  background-color: #1a1a1a;
  color: #FF3333;
  font-weight: bold;
}
.uploadcancelbtn:hover
{
   border-radius: 20px;
  border: 2px solid #FF3333;
  background-color: #1a1a1a;
  color: #fff;
  font-weight: bold;
}


#upload-input,#uploadsuccess,#uploadanother,#probar,#cancelbtn {display: none}

.uploadsave {
    background-image: url('../img/tick.svg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #60C15B;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    margin: 10px auto 20px auto;
    background-size: 60%;
    transition: all 0.2s ease-out;
}
.uploadsave:hover{ 
  background-color:#60C15B; 
  border-radius:100%; 
  border:2px solid #fff;  
  transform:scale(1.2); 
}
.txtRed { color:#e81d29; }
.videotxt{ font-size:15px; font-family:'wickedgrit',sans-srif; color:#fff; margin:30px 0; text-align:center;}
.prodMinht {

  
}
/*MEME




.logomockup {
    width: 100%;
    height: auto;
    position: absolute !important;
    bottom: 5% !important;
    z-index: 9999;}
*/
.memelogoTxt{     position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%; }
#saveimage{ width:100%; margin:0 auto; position:relative;}
.divcentersave {display: block; width: 100%;}

.loadTxtHold{

  position: fixed; width:80%; top:50%; left:10%; text-align: center; display: none;
}


.loadingtxt{     display: inline-block  ;
    text-align: center;
    width: auto;
    /* margin: 50% auto; */
    /* top: 50%; */
    /* left: 20%; */
    padding: 5px;
    background-color: rgba(255,0,0,0.5);
    border-radius: 3px; 
  }


.mybtnstyles{ border:1px solid #fff !important;  color: #fff !important; }
.toggleHide
{
  display: none;
}


.evt_join{ border-radius:5px; border:2px solid #fff; font-family:'wickedgrit'; }

.meme_logo{ margin:10px auto; display: table; }
.paircanBtn{ padding: 10px 40px;
    display: table;
    background-color: #f00;
    margin: 20px auto;
    border-radius: 2px;
    color: #fff;
    font-family: 'wickedgrit';}
/*.sip_nav a{ color:#000; margin-left:12px; }*/

/*MEME*/

@-webkit-keyframes progress-bar-stripes {
from {
background-position:40px 0
}
to {
  background-position:0 0
}
}
@-o-keyframes progress-bar-stripes {
from {
background-position:40px 0
}
to {
  background-position:0 0
}
}
@keyframes progress-bar-stripes {
from {
background-position:40px 0
}
to {
  background-position:0 0
}
}
.progress2{
  height:20px;
  margin-bottom:20px;
  overflow:hidden;
  background-color:#f5f5f5;
  border-radius:4px;
  -webkit-box-shadow:inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow:inset 0 1px 2px rgba(0,0,0,.1)
}
.progress-bar {
  float:left;
  width:0;
  height:100%;
  font-size:12px;
  line-height:20px;
  color:#fff;
  text-align:center;
  background-color:#ff3333;
  -webkit-box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
  box-shadow:inset 0 -1px 0 rgba(0,0,0,.15);
  -webkit-transition:width .6s ease;
  -o-transition:width .6s ease;
  transition:width .6s ease
}
.progress-bar-striped, .progress-striped .progress-bar {
  background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  -webkit-background-size:40px 40px;
  background-size:40px 40px
}
.progress-bar.active, .progress.active .progress-bar {
  -webkit-animation:progress-bar-stripes 2s linear infinite;
  -o-animation:progress-bar-stripes 2s linear infinite;
  animation:progress-bar-stripes 2s linear infinite
}
.progress-bar-success {
  background-color:#5cb85c
}
.progress-striped .progress-bar-success {
  background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent)
}
.progress-bar-info {
  background-color:#5bc0de
}
.progress-striped .progress-bar-info {
  background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent)
}
.progress-bar-warning {
  background-color:#f0ad4e
}
.progress-striped .progress-bar-warning {
  background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent)
}
.progress-bar-danger {
  background-color:#d9534f
}
.progress-striped .progress-bar-danger {
  background-image:-webkit-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:-o-linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  background-image:linear-gradient(45deg, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent)
}

.nobrd{ border:none !important; }

.panelVideo {
    background-color: rgba(0,0,0,1) !important;
    width: 310px;
    border-width: 3px !important;
    border-style: solid !important;
    border-color: #fff !important;
    border-image: initial !important;
    /* border-radius: 10px !important; */
    margin: 20px auto !important;
    padding: 10px !important;
}

.myProBar{ height: 15px !important; background-color: #5cb85c !important; }

.Videoholder{ width:310px; height:310px; margin: 20px auto; position: relative; background-color:#000; }

.hoverTxt{ padding:7px 7px 7px 10px; width:80%;  border-radius:5px; background-color:#333 ; color:#000; }

#hoverTxt{ display:none;}

canvas {
    image-rendering: optimizeSpeed;            
    image-rendering: -moz-crisp-edges;         
    image-rendering: -webkit-optimize-contrast; 
    image-rendering: -o-crisp-edges;           
    image-rendering: crisp-edges;             
    -ms-interpolation-mode: nearest-neighbor;   
}

.sharetxt{ font-family:"wickedgrit",Helvetica,Arial,sans-serif; font-size:20px; color:#fff;}

.socialIcons{ width:80vw; height:40px; margin:0 auto;  text-align:center; margin-top:10px; }

/*FB*/
.meme_fb{ background-image:url('../img/facebook.png'); background-repeat:no-repeat; background-position:50% 50%; background-size: 100%;  width:40px; height:40px;  display:inline-block; margin:0 10px; }

.meme_fb:hover{   }

/*GOOLGE PLUS*/
.meme_instagram{ background-image:url('../img/instagram.png'); background-repeat:no-repeat; background-position:50% 50%; background-size: 100%;   width:40px; height:40px;  display:none; margin:0 10px; }

.meme_instagram:hover{ }

/*PINTEREST
.meme_pinterest{ background-image:url('../img/pinterest.svg'); background-repeat:no-repeat; background-position:50% 50%;  width:40px; height:40px; display:inline-block; margin:0 1px; }

.meme_pinterest:hover{  }*/

/*TUMBLR
.meme_tumblr{ background-image:url('../img/tumblr.svg'); background-repeat:no-repeat; background-position:50% 50%;  width:40px; height:40px; border-radius:100%; border:2px solid #fff; display:inline-block; margin:0 1px; }

.meme_tumblr:hover{ /*background-color:#32506d; border-radius:100%;  }*/

/*TWITTER*/
.meme_twitter{ background-image:url('../img/twitter.png'); background-repeat:no-repeat; background-position:50% 50%; background-size: 100%;  width:40px; height:40px;  display:inline-block; margin:0 10px; }




.videoHeading{ width:100%; text-align:center; margin:30px 0;}

#textbar{ margin-top:40px;}

.download{ background-image:url('../img/download.png'); background-repeat:no-repeat; background-position:50% 50%;background-size: 80% !important;  /*background-color:#4dc247;*/ width:40px; height:40px;  display:inline-block; margin:0 10px; background-size:50% }

.download:hover{}

.ticksave{ background-image:url('../img/tick.png'); background-repeat:no-repeat; background-position:50% 50%; /*background-color:#60C15B;*/ width:45px; height:45px;  display:inline-block; margin:10px 2px; background-size:60%;}
.ticksave:hover{  }

.cancel{ background-image:url('../img/cross.png'); background-repeat:no-repeat; background-position:50% 50%; /*background-color:#f55252;*/width:45px; height:45px; display:inline-block; margin:10px 2px; background-size:60%;}
.cancel:hover{   }

.reset{ background-image:url('../img/reset.png'); background-repeat:no-repeat; background-position:50% 50%; /*background-color:#ffa508;*/ width:45px; height:45px;   display:inline-block; margin:10px 2px; background-size:60%;}
.reset:hover{   }

.ccw{ background-image:url('../img/rot_ccw.png'); background-repeat:no-repeat; background-position:50% 50%; /*background-color:#ffa508;*/ width:45px; height:45px;  display:inline-block; margin:10px 2px; background-size:60%;}
.cw:hover{   }

.cw{ background-image:url('../img/rot_cw.png'); background-repeat:no-repeat; background-position:50% 50%; /*background-color:#ffa508;*/ width:45px; height:45px;  display:inline-block; margin:10px 2px; background-size:60%;}
.cw:hover{  }

.crop{ background-image:url('../img/crop.png'); background-repeat:no-repeat; background-position:50% 50%; /*background-color:#2ab311;*/ width:45px; height:45px; display:inline-block; margin:10px 2px; background-size:60%;}
.crop:hover{    }


.centerMarg{ margin:72px auto 10px auto !important; }

.myModal{ background-color: #333; border-radius:0 !important;  }

.margtop10{ margin:10px auto 20px auto !important; }

.deviceWrap{ width:300px; margin:200px auto 10px auto;  }

.devicePairBg{ background-image: url(../img/pairBg.png);
    background-position: 50% 10px;
    background-size: contain;
    background-repeat: no-repeat;

}
.bgheight{
	min-height: 100vh;
	height: auto;
}
.deviceWrap h1{ color:#fff; text-align:center; }
.deviceWrap .steptext{ margin-top:20px;}

.deviceWrap p{ color:#fff; text-align:center; font-size:14px; font-family:'opensans', sans-serif; }

.deviceWrap ul{ display: flex;
    align-items: stretch;  
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 0;}
 
.deviceWrap ul li{ display: block;
    flex: auto;
    list-style-type: none;
    text-align: center;
    padding: 12px 10px;
    margin: 3px;
    font-size: 22px;
    color: #fff;
    background-color: #636363;
    border-radius: 3px;
    font-family: 'opensans',sans-serif;} 
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(-360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(-360deg);}
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #f00;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/**************/



/**********LARGE SCREEN*********/

@media (min-width:1367px)and (max-width:1930px) {
.appbtn{ width:100%;}
.mynav{ height:105px;}
#head_navigation{ font-size:22px; margin-top:17px; }



.content_inner{ padding-top:93px;}

.apptxt{ font-size:31px;}
.appbtnContainer{ width:70%;}
.devicebtnContainer{ width:84%;}
.appleLogo{ width:101px;}

.iappstorebtn{ width:327px; height:110px;}
.apptxt{ font-size:22px;}

.padthty{ padding:30px; box-sizing:border-box !important; -webkit-box-sizing:border-box !important;}
.btstxt{ color:#fff; font-size:65px; margin-top:100px;}

.btsTitle{ font-size:24px;}
.item_title{ font-size: 40px;}
.item_price{ font-size:52px;}

.item_description{ font-size:24px;}

.size{ width:80px; height:80px; line-height:80px;}

.cartbtn{ width:275px; height:65px;  border-radius:15px; line-height:65px; font-size:20px;}




.item_list li{ font-size:24px;}

.buy_wrp{ height:803px;}

.tktmap{ height:800px;}

.buy_wrp input{ padding:18px 22px;}

.slt_blk select{ padding:21px 10px; border-radius:8px; background-size: 33px;}

.loc h3{ font-size: 24px;
    text-align: left;
    background-size: 53px;}
  
.tab .nav-tabs>li>a{ font-size:18px;}

.nav>li>a{ padding:10px 22px;}

.subt{ font-size: 20px;}
.mv_tit{ font-size:18px;}

.mv_tms .shw {
    padding: 20px 30px; font-size: 16px;}
  
.tab_blk{ margin-top: 22px;}

.slt_blk select{ font-size:17px;}

}
/*************LARGE SCREEN*******/


@media (min-width:768px)and (max-width:1169px) {
.content{ background-size:cover;}
.logo_landing{ width:450px;}

.pos_left{ left:0 !important;}
.pos_right{ right:0 !important;}

.appdeschead{ font-size:45px;}

.item_title{ font-size: 30px;}
.item_price{ font-size:40px;}
.tktPoster{width:79%;}

 

}
@media (min-width:568px)and (max-width:767px) {
.logo_landing{ width:450px;}
.assetPopup{ top:0; }

}
@media (min-width:376px)and (max-width:767px) {

.content{ background-size:cover;}


.appbtnContainer{ width:100%;}
.apphead{ font-size:32px;}
.pos_left{ left:0 !important;}
.pos_right{ right:0 !important;}
.appdeschead{ font-size:30px;}
.apptxt{ font-size:16px;}
.item_title{ font-size: 24px; text-align:center;}
.item_price{font-size:28px;}

.tktPoster{width:50%;}
#portfoliolist .portfolio { width: 100% !important;}

.assetPopup{ top:0%; }
#gallery .slick-slide{ min-height: 385px !important; }
 .mh207 { min-height: 207px !important;  }


}

@media (min-width:321px)and (max-width:375px) {

.content{ background-size:cover;}

.appbtnContainer{ width:100%;}
.appbtn{ width:100%;}
.apphead{ font-size:42px;}
.appsubhead{ font-size:24px;}
.pos_left{ left:0 !important;}
.pos_right{ right:0 !important;}
.appdeschead{ font-size:30px;}
.apptxt{ font-size:16px;}
.item_title{ font-size: 20px; text-align:center;}
.item_price{ cfont-size:24px;}
.tktPoster{width:50%;}
#portfoliolist .portfolio { width: 100% !important;}
.VideoShare{ float:right !important;}
.assetPopup{ top:20%; }
.apphead{ font-size:32px;}

#gallery .slick-slide{ min-height: 385px !important; }
 .mh207 { min-height: 207px !important;  }



}


@media (min-width:300px)and (max-width:320px) {
.content{ background-size:cover;}

.appbtn{ width:100%;}

.appsubhead{ font-size:20px;}

.pos_left{ left:0 !important;}
.pos_right{ right:0 !important;}
.appdeschead{ font-size:30px;}
.apptxt{ font-size:16px;}
.item_title{ font-size: 18px; text-align:center;}
.tktPoster{width:50%;}
#portfoliolist .portfolio { width: 100% !important;}
.VideoShare{ float:right;}
.assetPopup{ top:20%; }
.apphead{ font-size:32px;}
#gallery .slick-slide{ min-height: 365px !important; }
 .mh207 { min-height: 177px !important;  }

 .modal-body{ padding:10px !important; }

 .closebt_cont{ left:5px; }
 .user{ right:0; padding: 10px 2px; }
 .Videobtns{ width:35%; margin-top: 14px; }

.Videobtn{ margin-right:3px; width:30px; }

.Videoclose{ background-position: 5px 2px; }
.Videoprev{ background-position: -44px 2px;  }
.Videonext{ background-position: -89px 3px; }

.shareIcons{ width:25px; margin:18px 5px; }


}
