
@font-face {
  font-family: 'TrumpGothicWest';
  src: url('TrumpGothicWest.eot?#iefix') format('embedded-opentype'),  url('TrumpGothicWest.woff') format('woff'), url('TrumpGothicWest.ttf')  format('truetype'), url('TrumpGothicWest.svg#TrumpGothicWest') format('svg');
  font-weight: normal;
  font-style: normal;
}
